---
- name: Create credentials directory for cluster
  ansible.builtin.file:
    path: "{{ install_config_dir }}"
    state: directory
    mode: '0755'
  delegate_to: localhost

- name: Create artifacts directory for cluster
  ansible.builtin.file:
    path: "{{ artifacts_dir }}"
    state: directory
    mode: '0755'
  delegate_to: localhost

- name: Generate install-config.yaml
  ansible.builtin.template:
    src: install-config.yaml.j2
    dest: "{{ install_config_dir }}/install-config.yaml"
    mode: '0644'
  delegate_to: localhost

- name: Backup install-config.yaml
  ansible.builtin.copy:
    src: "{{ install_config_dir }}/install-config.yaml"
    dest: "{{ install_config_dir }}/install-config.yaml.bak"
    mode: '0644'
  delegate_to: localhost

- name: Create cache directory for installers
  ansible.builtin.file:
    path: "/tmp/openshift-installer-cache"
    state: directory
    mode: '0755'
  delegate_to: localhost

- name: Check if openshift-install binary exists
  ansible.builtin.stat:
    path: "/usr/local/bin/openshift-install"
  register: openshift_install_stat
  delegate_to: localhost

- name: Check if cached installer exists
  ansible.builtin.stat:
    path: "/tmp/openshift-installer-cache/openshift-install-{{ sno_openshift_version }}.tar.gz"
  register: cached_installer_stat
  delegate_to: localhost

- name: Download openshift-install if needed
  when: not openshift_install_stat.stat.exists
  block:
    - name: Download openshift-install to cache
      ansible.builtin.get_url:
        url: "https://mirror.openshift.com/pub/openshift-v4/clients/ocp/{{ sno_openshift_version }}/openshift-install-linux.tar.gz"
        dest: "/tmp/openshift-installer-cache/openshift-install-{{ sno_openshift_version }}.tar.gz"
        mode: '0644'
      delegate_to: localhost
      when: not cached_installer_stat.stat.exists

    - name: Extract openshift-install
      ansible.builtin.unarchive:
        src: "/tmp/openshift-installer-cache/openshift-install-{{ sno_openshift_version }}.tar.gz"
        dest: "/usr/local/bin"
        remote_src: false
        creates: "/usr/local/bin/openshift-install"
      delegate_to: localhost
      become: true

- name: Generate SNO ignition config
  ansible.builtin.command:
    cmd: "openshift-install create single-node-ignition-config --dir {{ install_config_dir }}"
    creates: "{{ install_config_dir }}/bootstrap-in-place-for-live-iso.ign"
  delegate_to: localhost

- name: Set RHCOS version
  ansible.builtin.set_fact:
    rhcos_version: "{{ sno_openshift_version.split('.')[:2] | join('.') }}"

- name: Determine RHCOS ISO filename format
  ansible.builtin.set_fact:
    rhcos_iso_filename: "{{ 'rhcos-' + rhcos_version + '.0-x86_64-live-iso.x86_64.iso' if rhcos_version is version('4.20', '>=') else 'rhcos-live.x86_64.iso' }}"

- name: Check if cached RHCOS ISO exists
  ansible.builtin.stat:
    path: "/tmp/openshift-installer-cache/rhcos-live-{{ rhcos_version }}.x86_64.iso"
  register: cached_iso_stat
  delegate_to: localhost
  when: sno_generate_iso | bool

- name: Download RHCOS live ISO to cache
  ansible.builtin.get_url:
    url: "https://mirror.openshift.com/pub/openshift-v4/dependencies/rhcos/{{ rhcos_version }}/latest/{{ rhcos_iso_filename }}"
    dest: "/tmp/openshift-installer-cache/rhcos-live-{{ rhcos_version }}.x86_64.iso"
    mode: '0644'
  delegate_to: localhost
  when: 
    - sno_generate_iso | bool
    - not cached_iso_stat.stat.exists

- name: Copy cached ISO to install directory
  ansible.builtin.copy:
    src: "/tmp/openshift-installer-cache/rhcos-live-{{ rhcos_version }}.x86_64.iso"
    dest: "{{ install_config_dir }}/rhcos-live.iso"
    mode: '0644'
  delegate_to: localhost
  when: sno_generate_iso | bool

- name: Note about ISO embedding
  ansible.builtin.debug:
    msg: "ISO will be embedded with ignition on the host after Ansible completes"
  when: sno_generate_iso | bool

- name: Display installation preparation status
  ansible.builtin.debug:
    msg:
      - "Installation files prepared successfully"
      - "Install config directory: {{ install_config_dir }}"
      - "ISO will be embedded and uploaded after this playbook completes"

